################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Products Manager/bin/*
/Products Manager/obj/*
/TestProductsManager/bin/*
/TestProductsManager/obj/*
*.sln
